$color-primary-light: #3aafa9;
$color-primary-dark: #2b7a78;
$color-secondary-light: #feffff;
$color-secondary-dark: #def2f1;
$color-tertiary: #17252a;
$color-warning: #e23636;
$border-radius-small: 4px;
$border-radius-large: 8px;
